/* Contenitore header */
.fc-header-toolbar {
    display: flex;
    justify-content: space-between; /* Prev | Title | Next/Today */
    align-items: center;
    margin-bottom: 15px;
}

/* Bottone precedente */
.fc-myPrev-button {
    margin-right: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Bottone successivo */
.fc-myNext-button {
    margin-left: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Bottone Today */
.fc-today-button {
    margin-left: 10px;
    background-color: #d1e7dd;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Titolo mese centrato */
.fc-toolbar-title {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Giorno corrente ben visibile */
.current-day-border {
    border: 4px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.4);
}

.current-day-presenza { border-color: #198754; }
.current-day-smart { border-color: #0d6efd; }
.current-day-ferie { border-color: #fff3cd; }
.current-day-festivita { border-color: #6c757d; }
.current-day-scoperto { border-color: #dc3545; }
.current-day-supplementare { border-color: #6610f2; }
.current-day-default { border-color: #0d6efd; }


.fc-event-main {
    background: transparent !important;
}

.fc-daygrid-event {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

/* card giorno */
.workday-card{
    border-radius: 10px;
    padding: 8px;
    font-size: 13px;
}

/* STATUS COLORS */
.status-presenza { background:#e7f5ea; }
.status-smart { background:#e3f2fd; }
.status-ferie { background:#fff3cd; }
.status-supplementare { background:#ede7f6; }
.status-scoperto { background:#fdecea; }
.status-festivita { background: #eef4ff;}


/* testo */
.wd-status{
    font-weight: 600;
    color: #1f2937;   /* grigio scuro leggibile */
    margin-bottom: 4px;
}

.wd-flag{
    font-size:0.75rem;
    color:#0d6efd;
}

.wd-note {
    max-width: 100%;        /* Non sfora la cella */
    white-space: normal;    /* Permette a testo lungo di andare a capo */
    overflow: hidden;       /* Taglia eventuale eccedenza */
    text-overflow: ellipsis; /* Mostra "..." se troppo lungo */
    font-size: 0.85em;
    margin-top: 2px;
    color: #333;
}

.fc-day-today {
    background: rgb(249, 253, 13) !important;
    border-radius:8px;
}

.fc-day-today .fc-daygrid-day-number{
    font-weight:bold;
    color:#0d6efd;
}

.fc-bg-event{
   background: #ffffff00 !important;
    
}
