.current-day-border {
    border: 4px solid #000; /* bordo più spesso */
    border-radius: 5px;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.3); /* ombra per evidenziare */
}

.fc-myPrev-button {
    margin-right: 10px; /* distanza tra precedente e next */
}
.fc-myNext-button {
    margin-left: 10px;
}

/* Colori secondo status */
.current-day-presenza { border-color: #198754; }
.current-day-smart { border-color: #0d6efd; }
.current-day-ferie { border-color: #ffc107; }
.current-day-festivita { border-color: #6c757d; }
.current-day-scoperto { border-color: #dc3545; }
.current-day-supplementare { border-color: #6610f2; }
.current-day-default { border-color: #0d6efd; } /* se nessun evento */